# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
files/
sites/*/files
sites/*/private

# Ignore default text files
/drupal/webrobots.txt
/drupal/web/CHANGELOG.txt
/drupal/web/COPYRIGHT.txt
/drupal/web/INSTALL*.txt
/drupal/web/LICENSE.txt
/drupal/web/MAINTAINERS.txt
/drupal/web/UPGRADE.txt
/drupal/web/README.txt
/drupal/websites/README.txt
/drupal/websites/all/modules/README.txt
/drupal/websites/all/themes/README.txt

# Ignore everything but the "sites" folder ( for non core developer )
/drupal/web.htaccess
/drupal/webweb.config
/drupal/webauthorize.php
/drupal/webcron.php
/drupal/webindex.php
/drupal/webinstall.php
/drupal/webupdate.php
/drupal/webxmlrpc.php
/drupal/web/includes
/drupal/web/misc
/drupal/web/profiles
/drupal/web/scripts
/drupal/web/themes
/drupal/web/vendor
/vendor
/drupal/web/robots.txt
/drupal/web/web.config
/drupal/web/update.php
/drupal/web/sites/example.sites.php
/drupal/web/sites/example.settings.local.php
/drupal/web/sites/development.services.yml
/drupal/web/sites/default/default.settings.php
/drupal/web/sites/default/default.services.yml
/drupal/web/modules/.gitkeep
/drupal/web/index.php
/drupal/web/autoload.php
/drupal/web/.htaccess
/drupal/web/.gitattributes
/drupal/web/.eslintrc.json
/drupal/web/.eslintignore
/drupal/web/.editorconfig
/drupal/web/.csslintrc
/drupal/scripts/composer/ScriptHandler.php
/drupal/README.md
/drupal/phpunit.xml.dist
/drupal/LICENSE
/drupal/drush/README.md
/drupal/drush/policy.drush.inc
/drupal/config/sync/README.txt
/drupal/config/sync/.htaccess
/drupal/composer.lock
/drupal/.travis.yml
/drupal/.gitignore
.DS_Store
.idea