<select id="date-changer" class="selectpicker">
    <option value="2019">2019</option>
    <option value="2018">2018</option>
</select>
<br/>
<br/>
{{ yearly_summary_chart }}

<h2>Averages</h2>
{{ yearly_summary_averages }}